<h1>Welcome to Make My Day!</h1>

<h2>  Make My Day! is an app designed to make it easy to give, and receive, just the right gift to make someone's day brighter! Perfect for Christmas, Birthdays, Weddings, or any day of the year.  Not a member?  Signup Below and make someone's day today!</h2>

